.md-typeset h1 {
    color: var(--md-text-color); 
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.mermaid {
    text-align: center;
}

.mermaid svg {
    max-width: 100%;
    height: auto;
  }
  
  .scale1000 .mermaid:hover svg {
          max-width: 1000%
  }
  
  .scale500 .mermaid:hover svg {
          max-width: 500%
  }
  
  .scale250 .mermaid:hover svg {
          max-width: 250%
  }